/* Suggestion List */
.suggestion-list {
  display: block;  
  position: absolute;
  z-index: 100;
  list-style: none;
  padding: 0;
  margin: 0;
  outline: 0;
  max-height: 240px;
  overflow-y: auto;
  top: 32;
  border: 1px solid #dddddd;
  background: #ffffff;
  color: #333333;
}

/* Suggestion Item */
.suggestion-list .suggestion-item-wrapper {
  position: relative;
  padding: 3px 1em 3px .4em;
}

.suggestion-list .suggestion-item {
  margin: 0;
  list-style-image: url("data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7");
}

.selected {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #ffffff;
}

li em {
  background:#ff6;
  font-weight:bold;
  font-style:normal;
  color: #060505;
}
